:root {
    font-family: 'Roboto', sans-serif;

    --background: #EFF2F4;

    --white: #ffffff;
    --white-dirty: #eeeff0;


    --text: #5f5d59;
    --text-alt: #677795;

    --pink: #ff8175;
    --pink-hover: #df5c50;
    --pink-light: #ffd9d6;

    --blue: #0088ce;
    --blue-hover: #005f8e;
    --blue-light: #afd5e9;
}

